/* Offcanvas Mobile Menu */
.home-for-mobileview .offcanvas .offcanvas-body ul li a {
    color: var(--primary-colors);
}

.offcanvas-icon {
    color: var(--secondary-colors);
}

/* Offcanvas Mobile Menu */

/* header & banner sec start */

.header-home .navbar-toggler-icon {
    width: 20px;
    height: 20px;
}
.header-home .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.header-home .navbar {
    z-index: 1030;
    top: 0;
}

/* Mobile toggle menu background and styles */

.home-for-mobileview .offcanvas {
    border-radius: 0 18px 18px 0;
    width: 320px;
}

.home-for-mobileview .list-group-item {
    border: none;
    font-size: 1.1rem;
    padding: 1.1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: transparent;
}

.home-for-mobileview .list-group-item:not(:last-child) {
    border-bottom: 1px solid var(--primary-lights);
}



/* header fixed */
.header-home .navbar-scroll {
    background-color: var(--primary-colors);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header-home .navbar-scroll .nav-item .nav-link {
    color: var(--color-white);
}

.header-home .navbar-scroll .nav-item .nav-link:hover {
    color: var(--secondary-colors);
}

.header-home .navbar-scroll .nav-item .nav-link i {
    color: var(--color-white);
}

.header-home .navbar-scroll.scrolled {
    background-color: var(--primary-colors);
    /* Change to any color */
}

.header-home .navbar-scroll.scrolled .nav-link:hover {
    color: var(--secondary-colors);
}

.header-home .navbar-scroll.scrolled .nav-link:active {
    color: var(--secondary-colors);
}

.header-home .navbar-scroll.scrolled .btn-outline-light {
    color: var(--color-white);
}

.header-home .navbar-scroll.scrolled .btn-outline-light:hover {
    color: var(--primary-colors);
}

.header-home .nav-link {
    color: var(--color-white);
}

.header-home .nav-link:hover {
    color: var(--secondary-colors);
}

.header-home .navbar .nav-link.active {
    color: var(--secondary-colors);
}


/* header fixed */

/* header & banner sec end */
.flight-purchase-summary {
    margin-top: 40px;
}

.flight-purchase-summary .alert-thanku {
    background-color: var(--secondary-lights);
    color: var(--primary-colors);
}

.flight-purchase-summary .alert-thanku span {
    color: var(--secondary-colors);
}

.flight-purchase-summary .booking-detail h5 {
    color: var(--primary-colors);
    font-size: clamp(16px, 2vw, 20px);
}

.flight-purchase-summary .booking-detail strong {
    color: var(--primary-colors);
}


.flight-purchase-summary .passenger-info h5 {
    color: var(--primary-colors);
    font-size: clamp(16px, 2vw, 20px);
}

.flight-purchase-summary .passenger-info h6 {
    color: var(--primary-colors);

}

.flight-purchase-summary .passenger-info .card {
    border: 1px solid var(--all-border);
    border-radius: 10px;

}

.flight-purchase-summary .flight-itinerary h5 {
    color: var(--primary-colors);
    font-size: clamp(16px, 2vw, 20px);
}

.flight-purchase-summary .flight-itinerary .outbound-detail {
    background-color: var(--secondary-lights);
    color: var(--primary-colors);
}

.flight-purchase-summary .outbound-time {
    color: var(--primary-colors);
}

.flight-purchase-summary .connection-line {
    background-color: var(--all-border);
    width: 80px;
    height: 1px;
}

.flight-purchase-summary .outbound-detail-card {
    border: 1px solid var(--all-border);
    border-radius: var(--border-radius-boxes);
}

.flight-purchase-summary .price-summary {
    border: 1px solid var(--all-border);
    border-radius: var(--border-radius-boxes);
}

.flight-purchase-summary .price-summary h5 {
    color: var(--primary-colors);
    font-size: clamp(16px, 2vw, 20px);
}

.flight-purchase-summary .price-summary .total-ammount {
    color: var(--primary-colors);
}

.flight-purchase-summary .important-info {
    border: 1px solid var(--all-border);
    border-radius: var(--border-radius-boxes);
}

.flight-purchase-summary .important-info h5 {
    color: var(--primary-colors);
    font-size: clamp(16px, 2vw, 20px);
}

.flight-purchase-summary .print-info-btn {
    background-color: var(--secondary-colors);
}

.flight-purchase-summary .print-info-btn:hover {
    background-color: var(--secondary-colors);
}

.flight-purchase-summary .check-in-btn {
    border: 1px solid var(--all-border);
}


.flight-purchase-summary .check-in-btn:hover {
    border: 1px solid var(--secondary-colors);
}


.flight-purchase-summary .email-ilinerary-btn {
    border: 1px solid var(--all-border);
}

.flight-purchase-summary .email-ilinerary-btn:hover {
    border: 1px solid var(--secondary-colors);
}








/* footer section start */
.footer-sec {
    background-color: var(--primary-colors);
}

.privacy-policy {
    background-color: var(--secondary-colors);
}

.footer-sec .footer-custom ul li i {
    color: var(--secondary-colors);
}

.footer-sec .footer-custom ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-sec .footer-custom .social-icons li i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(3, 43, 129, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control:focus {
    box-shadow: none !important;
}

/* footer section end */