/* Offcanvas Mobile Menu */
.home-for-mobileview .offcanvas .offcanvas-body ul li a {
    color: var(--primary-colors);
}

.offcanvas-icon {
    color: var(--secondary-colors);
}

/* Offcanvas Mobile Menu */

/* header & banner sec start */

.header-home .navbar-toggler-icon {
    width: 20px;
    height: 20px;
}

.header-home .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.header-home .navbar {
    z-index: 1030;
    top: 0;
}

/* Mobile toggle menu background and styles */

.home-for-mobileview .offcanvas {
    border-radius: 0 18px 18px 0;
    width: 320px;
}

.home-for-mobileview .list-group-item {
    border: none;
    font-size: 1.1rem;
    padding: 1.1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: transparent;
}

.home-for-mobileview .list-group-item:not(:last-child) {
    border-bottom: 1px solid var(--primary-lights);
}



/* header fixed */
.header-home .navbar-scroll {
    background-color: var(--primary-colors);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header-home .navbar-scroll .nav-item .nav-link {
    color: var(--color-white);
}

.header-home .navbar-scroll .nav-item .nav-link:hover {
    color: var(--secondary-colors);
}

.header-home .navbar-scroll .nav-item .nav-link i {
    color: var(--color-white);
}





.header-home .navbar-scroll.scrolled {
    background-color: var(--primary-colors);
    /* Change to any color */
}

.header-home .navbar-scroll.scrolled .nav-link:hover {
    color: var(--secondary-colors);
}

.header-home .navbar-scroll.scrolled .nav-link:active {
    color: var(--secondary-colors);
}

.header-home .navbar-scroll.scrolled .btn-outline-light {
    color: var(--color-white);
}

.header-home .navbar-scroll.scrolled .btn-outline-light:hover {
    color: var(--primary-colors);
}

.header-home .nav-link {
    color: var(--color-white);
}

.header-home .nav-link:hover {
    color: var(--secondary-colors);
}

.header-home .navbar .nav-link.active {
    color: var(--secondary-colors);
}


/* header fixed */


/* header & banner sec end */

/* order history start */
.order-history .order-history-card {
    border-radius: 10px;
    overflow: hidden;
     border: 1px solid var(--all-border);
}

.order-history .order-history-head {
    background-color: var(--secondary-lights);
}

.order-history-head h5 {
    color: var(--primary-colors);
}


.order-history .table th {
    background-color: var(--secondary-colors);
    font-weight: 600;
    font-size: 0.95rem;
    padding: 0.75rem 1rem;
    color: var(--color-white);
    text-wrap: nowrap;
}

.order-history .table td {
    vertical-align: middle;
    font-size: 0.9rem;
    text-wrap: nowrap;

}

.order-history .btn-view {
    border-radius: 25px;
    font-size: 0.85rem;
    padding: 0.4rem 1rem;
}

.order-history .btn-view{
    background-color: var(--secondary-colors);
    color: var(--color-white);
}


/* order history end */

/* footer section start */
.footer-sec {
    background-color: var(--primary-colors);
}

.privacy-policy {
    background-color: var(--secondary-colors);
}

.footer-sec .footer-custom ul li i {
    color: var(--secondary-colors);
}

.footer-sec .footer-custom ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-sec .footer-custom .social-icons li i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 102, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control:focus {
    box-shadow: none !important;
}

/* footer section end */